div.format2 {

    margin-left: auto;
    margin-right:auto;
    width: 700px;
    height: 100px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
div.format1 {
    margin-left: auto;
    margin-right:auto;
    width: 700px;
    height: 100px;
}